body{
    background-image:url(http://i.kinja-img.com/gawker-media/image/upload/s--w8ZlSIsl--/ne7ukffcfqd3rnmvwi36.gif);
}


nav a {
    color:ghostwhite;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 37px;
}

/*
img{
    width: 400px;
    height: auto;
}
*/

h1{
    border: dashed 2px blue;
    padding-left: 500px;
    margin: 20px;
    margin-left:20px;
    margin-right:20px;    
}